body {
padding: 0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; background-color: #CCCCCC; color: #000000; width: 1520px; }
table { font-size: 12px; text-align: left; }
tr { font-size: 12px; }
td { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; word-break: break-all; word-wrap: break-word;}
img { border: 0; }

a:Link { color: #0000CC; text-decoration: none; }
a:Visited { color: #0000CC; text-decoration: none; }
a:Hover { color: #0000FF; text-decoration: underline; }
a:Acitve { color: #0000FF; text-decoration: underline; }

/*tableStat*/
.tableStat { border-collapse: collapse; background: #FFFFFF; border: 1px solid #DDDDDD; width: 440px; height:305px; }
.tableHistory { border-collapse: collapse; background: #FFFFFF; border: 1px solid #DDDDDD; width: 570px; }
.trHead { text-align: center; font-weight: bold; background: #FFFFFF; }
.trRow { text-align: center; height: 21px; }
.d1 { font-size: 11px; }
.tdLeague { color: #FFFFFF; font-weight: bold; padding:2px 0; }
/*table Rank*/
.headTable { width: 600px}
.headRank { background: #ffcc00; text-align: center; font-weight: bold; padding-top: 4px; }
/*game info*/
#gameInfo { margin: 10px; font-weight: bold; font-size: 20px;}
/*body div*/
.bodyDiv { width: 885px; margin-left: 10px; padding: 0; display: inline-block; float: left;}
.textDiv { width: 575px; height: 612px; margin: 0; padding: 5px 5px 0 5px; display: inline-block; float: left;}
.textDiv textarea { font-size: 22px; padding: 5px; font-family: "Tahoma"; }

ul.showTable { margin: 0; padding: 0; display: inline-block; }
li {list-style:none;}

#A-all,#A-home,#B-all,#B-away { display:inline-block; }

[checkVisibleA^='Y'],[checkVisibleB^='Y'] { visibility: visible; }
[checkVisibleA^='N'],[checkVisibleB^='N'] { visibility: hidden; }
[checkResultA='Y'], [checkResultB='Y'] {color: red;}

[checkColor="ชนะ"] {color: #cc0000;}
[checkColor="เสมอ"] {color: darkblue;}
[checkColor="แพ้"] {color: darkgreen;}
